﻿@model MeyawoPortfolio.Models.TblProject

@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    <label>Proje Id</label>
    <input type="text" class="table table-bordered" value="@Model.ProjectID" name="ProjectID" />
    <br />
    <label>Proje Başlığı</label>
    <input type="text" class="table table-bordered" value="@Model.Title" name="Title" />
    <br />
    <label>Proje Etiketi</label>
    <input type="text" class="table table-bordered" value="@Model.Header" name="Header" />
    <br />
    <label> Proje Açıklaması</label>
    <input type="text" class="table table-bordered" value="@Model.Description" name="Description" />
    <br />
    <label>Proje Görseli</label>
    <input type="text" class="table table-bordered" value="@Model.ImageUrl" name="ImageUrl" />
    <br />
    <label>Proje URL</label>
    <input type="text" class="table table-bordered" value="@Model.ProjectUrl" name="ProjectUrl" />
    <br />
    <label>Proje Kategorisi</label>
    @Html.DropDownListFor(x => x.ProjectCategory, (List<SelectListItem>)ViewBag.v, new { @class = "table table-bordered" })
    <br />

    <button class="btn btn-info">Proejyi Güncelle</button>
</form>